@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.snap-y {
  scroll-snap-type: y mandatory;
  /* Hide scrollbar for webkit browsers */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.snap-start {
  scroll-snap-align: start;
}

/* Improve scrollbar appearance */
.snap-y::-webkit-scrollbar {
  display: none;
}

/* Add a subtle animation to the gradient background */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animated {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

/* Animations for the Retrieval Augmented Generation Card */
@keyframes flowRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-flow-right {
  animation: flowRight 3s linear infinite;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animation-delay-150 {
  animation-delay: 150ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -1;
  }
}

/* New animation for the search icon in the AI-Enabled Knowledge Base Card */
@keyframes searchAnimation {
  0% {
    stroke-dashoffset: 1;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.animate-search {
  animation: searchAnimation 2s ease-in-out infinite;
}

/* Animations for the AI-Enabled Knowledge Graph Card */
@keyframes pulseFlow {
  0% {
    opacity: 0;
    r: 0;
  }
  50% {
    opacity: 1;
    r: 2;
  }
  100% {
    opacity: 0;
    r: 0;
  }
}

.animate-pulse-flow {
  animation: pulseFlow 2s ease-in-out infinite;
}
